# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml
*.iws
*.ipr

# =========================
# Java / Maven
# =========================
target/
*.class

# =========================
# Node / React
# =========================
node_modules/
dist/

# =========================
# Environment / Secrets
# =========================
.env
.env.*
!.env.example

# =========================
# Logs
# =========================
*.log

# =========================
# macOS
# =========================
.DS_Store